@{
    ViewData["Title"] = "Home Page";
}

@model BusWithFilter;

<header>
    <nav>
        <a asp-controller="Home" asp-action="Index" class="active">Главная</a>
        <a asp-controller="Answers" asp-action="Index">Ответы на заявки</a>
        <a href="#">Добавление нового автобуса</a>
    </nav>
</header>

<main>
    <div class="container">

        <section class="bus-form">

            <form asp-action="Index" method="post" class="contact-form">

                <input type="hidden" name="isSecondTime" value="true" />

                <label for="route">Маршрут:</label>
                <select asp-for="filter.route" id="route" name="filter.route" required>
                    <option value="" disabled selected>-- Выберите маршрут --</option>
                    <option value="Уфа - Сочи">Уфа - Сочи</option>
                    <option value="Уфа - Казань">Уфа - Казань</option>
                    <option value="Стерлитамак - Уфа">Стерлитамак - Уфа</option>
                    <option value="Ишимбай - Соль-Илецк">Ишимбай - Соль-Илецк</option>
                </select>

                <label for="date">Дата:</label>
                <input asp-for="filter.date" type="date" id="date" name="filter.date" required>

                <label for="comfort">Уровень комфорта:</label>
                <select asp-for="filter.comfort" id="comfort" name="filter.comfort" required>
                    <option value="" disabled selected>-- Выберите уровень комфорта --</option>
                    <option value="Эконом">Эконом</option>
                    <option value="Комфорт">Комфорт</option>
                    <option value="Комфорт +">Комфорт +</option>
                    <option value="Бизнес-класс">Бизнес-класс</option>
                </select>

                <label for="seats">Места:</label>
                <select asp-for="filter.seats" id="seats" name="filter.seats" required>
                    <option value="" disabled selected>-- Выберите кол-во мест --</option>
                    <option value="5-9">5-9</option>
                    <option value="10-20">10-20</option>
                    <option value="21-30">21-30</option>
                    <option value="31-45">31-45</option>
                    <option value="31-40">31-40</option>
                    <option value="46-60">46-60</option>
                    <option value="61-90">61-90</option>
                </select>

                <label asp-for="filter.conditioner" for="conditioner">
                    <input asp-for="filter.conditioner" type="checkbox" id="conditioner" name="filter.conditioner">
                    Кондиционер
                </label>

                <label asp-for="filter.trunk" for="trunk">
                    <input asp-for="filter.trunk" type="checkbox" id="trunk" name="filter.trunk">
                    Багажник
                </label>


                <button type="submit">Найти</button>

            </form>
        </section>

        <section class="results">

            <h1>Примените фильтры и результаты поиска будут ниже</h1>

            <div class="cards-container">
                
                @if (Model.buses != null && Model.buses.Any())
                {
                    <form asp-action="busSelectionForm" class="results_form"  method="post"> 

                        <div class="results_container">
                            @foreach (var bus in Model.buses)
                            {
                                <div class="card">

                                    <img src="@bus.img" alt="bus" class="card-image">

                                    <div class="card-content">
                                        <h2 class="card-title">@bus.route</h2>
                                        <p class="card-description">@bus.date</p>
                                        <p class="card-description">@bus.comfort</p>
                                    </div>

                                    @* ОБРАБОТКА ВЫБОРА *@
                                    <label for="bus_@bus.id"> <!-- Убедитесь, что id уникален -->
                                        <input type="checkbox" value="@bus.id" id="bus_@bus.id" name="selectedBuses">
                                        Выбрать
                                    </label>
                                </div>
                            }
                        </div>

                        <button class="result_submit" type="submit">Отправить</button> 

                    </form>
                }
                else
                {
                    <p class="notfound">Нет доступных автобусов для выбранных фильтров.</p>
                }

            </div>
        </section>

    </div>
</main>

<footer>
    <p>&copy; 2024 Урал Батыр</p>
</footer>